@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5rem;
    background-color: lavender;
    display: flex;
    flex-direction: column;
}
