body {
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 70px;
    max-width: 100%;
}

#key-phrase {
    width: 190px;
}

#submit {
    margin-top: 10px;
    width: 80px;
    margin-left: 60px;
}
