* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.about-header {
    font-size: 40px;
    font-weight: bold;
    color: #6a0070;
    text-align: center;
    margin-top: 5%;
}

.team-img2 img {
    margin: auto;
    margin-top: 2px;
    height: 130px;
    background-repeat: no-repeat;
    width: 150px;
    cursor: pointer;
}

/* Float four columns side by side */
#column {
    float: left;
    width: 33.3%;
    margin: auto;
    padding: 0 10px 30px;
}

#column2 {
    float: left;
    padding-left: 160px;
    width: 45%;
    padding: auto;
    margin: auto;
}

/* Remove extra left and right margins, due to padding in columns */
#row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    margin-left:20px;
    width: 90%;
    background-color: white;
    border: none !important;
    box-shadow: 2px 4px 8px 0 rgba(255, 0, 251, 0.19);
    padding: 20px;
    height: 360px;
    text-align: center;
    background-color: #f1f1f1;
    overflow: hidden;
}

.about-header {
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 33%) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}