* {
    box-sizing: border-box;
}

.team-content, h3, h4{
    color: #6a0070;
    font-size: smaller;
}
.about-header {
    font-size: 40px;
    font-weight: bold;
    color: #6a0070;
    text-align: center;
    margin-top: 5%;
}

.team-img2{
    margin: auto;
    margin-top: 1px;
    height: 150px;
    background-repeat: no-repeat;
    width: 150px;
    cursor: pointer;
}

.team-img2 img {
    width: 100%;
    height: auto;
}

#column {
    float: left;
    width: 33.3%;
    margin: auto;
    padding: 0 10px 30px;
}

#column2 {
    float: left;
    padding-left: 160px;
    width: 43.5%;
    padding: auto;
    margin: auto;
}

#row {
    margin: 0 -5px;
    font-family: "Poppins", sans-serif;

}

#row:after {
    content: "";
    display: table;
    clear: both;
}

.card_about {
    margin-left:20px;
    width: 90%;
    border: none !important;
    padding: 20px;
    height: 360px;
    text-align: center;
    background-color: #f1f1f1;
    overflow: hidden;
}

.about-header {
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 33%) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}