.heading {
  color: #59df00;
  border-bottom: 1px solid #9aebe3;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

input,
select {
  width: 40%;
  min-width: 200px;
  border-radius: 10px;
  border: 2px solid #6c3283;
  padding: 10px;
  font-size: 14px;
}


table {
  border: 1px solid #b975d4;
  border-radius: 10px;
  width: 100%;
  padding: 1em;
  margin: 20px 0;
  border-collapse: collapse;
}

thead {

  background-color: #d68ee0;
  font-size: 16px;
}

th {
  text-align: left;
  padding: 8px;
  background-color: 1px solid #ffffff;
  color: #14877c;
}

td {
  text-align: left;
  padding: 8px;
}

tr {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

.pagination {
  margin: auto;
}

.Company {
  width: 20%;
}

.Position {
  width: 15%;
}

.Location {
  width: 15%;
}

.Date {
  width: 15%;
}

.Status {
  width: 10%
}

.Actions {
  width: 10%;
  padding-left: 30px;
}

.application-table {
  width: 95%;
  margin-left: 2.5%;
  border: 1px rgb(223, 223, 223) solid;
  border-radius: 15px;
}

.box {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.header-box {
  justify-content: right;
  padding-right: 10%;
}

.search-input {
  display: flex;
  width: 140%;
}

.add-button {
  display: flex;
  margin-right: 10px;
}

a {
  color: black !important;
}

img {
  width: 50px;
}

button {
  background: transparent;
  border: none;
}

.table-button {
  margin-left: 0px;
}

.dropbtn {
  display: inline-block;
  /* margin: 0 20px; */
  font-size: 18px;
  position: relative;
  border-radius: 3px;
  background-color: #ffffffa5;
  color: rgb(69, 8, 81);
  /* padding: 16px; */
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}