@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lato:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard {
  font-family: Poppy;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 1cm;
  padding-right: 1cm;
  background: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.profile {
  width: 100px;
  cursor: pointer;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
}

#button1,
#button2 {
  display: block;
}

/* .dashboard div {
  margin-top: 7px;
} */

.row {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  float: right;
  width: 72%;
}

.col {
  flex: 5%;
  position: relative;
}

.col:hover {
  transform: translateY(-10px);
}

.col img {
  height: 40%;
  width: 70%;
  border-radius: 25px;
  border: 5px solid #ae00ff;
  cursor: pointer;
}

.col h1 {
  font-size: 60px;
  color: #d400ff;
}

.col h2 {
  font-size: 30px;
  color: #ae7fCC;
}

.bottom-left {
  position: absolute;
  bottom: 15px;
  left: 30px;
}

.tabs {
  transform: translateX(9%) translateY(7%);
}

.center-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -140%);
  color: #dc6bfe;

}

.center-text h2 {
  font-size: 30px;
}

.apptab:hover {
  transform: translateY(-10px);
}

.apptab img {
  height: 80px;
  width: 15%;
  border-radius: 25px;
  border: 5px solid #ae7fCC;
  cursor: pointer;
}