@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top, rgba(27, 9, 33, 0.928), rgb(7, 0, 9)), url('../../public/images/guy_coding.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding-left: 2cm;
  padding-right: 1cm;
  font-family: 'Poppins', sans-serif;
}

.logo {
  background-image: url('../../public/images/icons8-tree-64.png');
  height: 70px;
  background-repeat: no-repeat;
  width: 100px;
  ;
  cursor: pointer;
}

.navbar {
  width: 90%;
  height: 15%;
  margin: auto;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 16px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff !important;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #732C7B;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  color: rgb(255, 255, 255);
  position: absolute;
  width: 50%;
  top: 45%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}

.login__btn {
  padding: 6px 0;
  margin: 0px 60px ;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid rgb(252, 252, 252);
  border-radius: 25px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.login_btn_span {
  background:  #732C7B;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: 0.5s;
}

.text {
  color:  #732C7B;
}

button:hover span {
  width: 100%;
}

.content h1 {
  font-size: 50px;
  margin: 15px 60px 40px;
  line-height: 55px;
}
