/* @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lato:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top, rgba(5, 5, 5, 0.63), rgb(0, 0, 0)), url('../../public/images/guy_coding.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding-left: 2cm;
  padding-right: 1cm;
  font-family: 'Changa One';
}

.logo {
  width: 100px;
  cursor: pointer;
}

.navbar {
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: rgb(179, 0, 255);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* 
.login__google {
  background-color: #4285f4;
} */

/* 
.login div {
  margin-top: 7px;
} */

.content {
  color: rgb(255, 255, 255);
  position: absolute;
  width: 50%;
  top: 45%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}

.login__btn {
  padding: 6px 0;
  width: 30%;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid rgb(252, 252, 252);
  border-radius: 25px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.login_btn_span {
  background: rgb(204, 36, 255);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: 0.5s;
}

.text {
  color: rgb(204, 36, 255);
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}


.content h1 {
  font-size: 60px;
  margin: 10px 0 30px;
  line-height: 60px;
}

/* 
.content small {
  font-size: 30px;
  margin: 20px auto;
  line-height: 25px;
} */