.xBtn {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-left: 95%;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: rgba(210, 3, 3, 0.784);
  cursor: pointer;
}

.status {
  word-wrap: normal;
  width: 100%;
}

.check {
  float: left;
  position: relative;
  margin: 2% 2% 0% 12%;
}

.buttonForm {
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  margin-left: 5%;
}

.modal-container {
  position:fixed;
  box-sizing:border-box;
  width:600px;
  overflow:auto;
  max-height:calc(90vh - 25px);
}

.error-msg {
  color: red;
}

.required {
  color: red;
}