@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav-logout {
    color: #ffffff !important;
}

.navbar1 {
    border-bottom: 1px solid #fdecff;
    margin: 0;
    padding: 0;
    background-color: #421C52 !important;
    width: 100%;
    padding: 10px;
    height: auto;
    margin: auto;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar1 ul li {
    top: 7px;
    color: rgb(255, 255, 255);
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    width: fit-content;
}
/* style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;" */
.navbar1 ul li a {
     font-size: 18px !important;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.logo1 {
    margin-top: 7px;
    background-image: url('../../public/images/icons8-tree-64.png');
    height: 70px;
    background-repeat: no-repeat;
    width: 70px;
    cursor: pointer;
    margin-left: 6%;    
}

.navbar1 ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #732C7B;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar1 ul li:hover::after {
    color: #732C7B;
    width: 100%;
}

.main_nav {
    margin-right: 6%;
    display: flex;
    flex-direction: row;
}

.navbar1 {
    flex-direction: row;
}

@media only screen and (max-width : 992px) {

    .navbar1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #ffffff;
        font-size: 20px;
    }

    .main_nav {
        display: none;
    }

    .show_nav {
        padding-top: 2%;
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    .main_nav li {
        width: 100%;
        height: 50px;
        font-size: 25px;
        justify-content: center;
        text-align: center;
        padding: 0%;
    }

    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }

    .logo_header {
        width: 100%;
        justify-content: space-between;
        margin-right: 2%;
    }

}