
.carousel {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    /* border-radius: 25px; */
    margin: auto;
    font-family: "Poppins", sans-serif;
}

.carousel-header {
    /* border-top: 2px solid rgb(247, 215, 174); */
    background:rgb(255, 255, 255);
    margin: auto;
    padding: auto;
    text-align: center;
    padding-top: 10px;
    font-size: 26px;
    color:#000000;
    padding-bottom: 20px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
}

.carousel-item img {
    height: 550px !important;
    width: 620px !important;
}

.carousel h3 {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #ec8b4a;
}

.carousel p {
    justify-content: center;
    text-align: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: thin;
}

.carousel h4 {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: #732C7B;
}

.carousel-caption {
    padding-left: 10px ;
    margin: auto;
    height: fit-content;
    background: white;
    border: 1px solid  rgb(163, 34, 192);
    border-radius: 9%;
    top: -0.03%;
    left: 51% !important;
}

.onboarding-header{
    padding-top: 15px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    font-weight: bold;
    color:  #ec8b4a;
    background: white;
    font-family: "Poppins", sans-serif;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: transparent;
  color: purple !important;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(163, 34, 192);
  background-color: transparent;
  text-decoration: none;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(163, 34, 192);
  text-decoration: none;
}


  