@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: white;
}

.profile {

    justify-content: center;
    align-items: center;
}

.profile h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}

.wrapper .sidebar {
    background: rgba(247, 223, 252, 0.672);
    position: fixed;
    top: 0;
    left: 0;
    width: 205px;
    margin: 0;
    padding: 0;
    height: 100%;
    transition: all 0.5s ease;
}

.wrapper .sidebar ul {
    padding: 0px;
    padding-left: 0px;
}

.wrapper .sidebar ul li a {
    display: block;
    width: 100%;
    padding: 10px 30px;
    color: rgb(235, 116, 248);
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.wrapper .sidebar ul li a .icon {
    color: #c300ff;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #ffffff;
    background: rgb(164, 0, 175);

}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #92189e;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

body.active .wrapper .sidebar {
    left: -225px;
}

body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
}