.proj-desc {
    text-overflow: ellipsis;
    overflow: hidden;
}

button {
    border: none;
    position: relative;
    background-color: transparent;
    transition: top ease 0.5s;
}

img {
    width: 50px;
}

button:hover {
    top: -1px;
}